@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #282c34;
}

.bg-primary-light {
  background-color: #383c44;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}